{
    "openapi": "3.2.0",
    "info": {
        "title": "NetworkManagementClient",
        "description": "The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.",
        "version": "2020-04-01"
    },
    "security": [
        {
            "azure_auth": [
                "user_impersonation"
            ]
        }
    ],
    "paths": {},
    "servers": [
        {
            "url": "https://management.azure.com"
        }
    ],
    "components": {
        "parameters": {
            "SubscriptionIdParameter": {
                "name": "subscriptionId",
                "in": "path",
                "required": true,
                "description": "The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.",
                "schema": {
                    "type": "string"
                }
            },
            "ApiVersionParameter": {
                "name": "api-version",
                "in": "query",
                "required": true,
                "description": "Client API version.",
                "schema": {
                    "type": "string"
                }
            },
            "ApiVersionVmssParameter": {
                "name": "api-version",
                "in": "query",
                "required": true,
                "x-ms-enum": {
                    "name": "ApiVersion",
                    "modelAsString": true
                },
                "description": "Client API version.",
                "schema": {
                    "type": "string",
                    "enum": [
                        "2017-03-30"
                    ]
                }
            }
        },
        "securitySchemes": {
            "azure_auth": {
                "type": "oauth2",
                "description": "Azure Active Directory OAuth2 Flow.",
                "flows": {
                    "implicit": {
                        "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
                        "scopes": {
                            "user_impersonation": "impersonate your user account"
                        }
                    }
                }
            }
        },
        "schemas": {
            "ErrorDetails": {
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Error code."
                    },
                    "target": {
                        "type": "string",
                        "description": "Error target."
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message."
                    }
                },
                "description": "Common error details representation."
            },
            "Error": {
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "Error code."
                    },
                    "message": {
                        "type": "string",
                        "description": "Error message."
                    },
                    "target": {
                        "type": "string",
                        "description": "Error target."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ErrorDetails"
                        },
                        "description": "Error details."
                    },
                    "innerError": {
                        "type": "string",
                        "description": "Inner error message."
                    }
                },
                "description": "Common error representation."
            },
            "CloudError": {
                "x-ms-external": true,
                "properties": {
                    "error": {
                        "$ref": "#/components/schemas/CloudErrorBody"
                    }
                },
                "description": "An error response from the service."
            },
            "CloudErrorBody": {
                "x-ms-external": true,
                "properties": {
                    "code": {
                        "type": "string",
                        "description": "An identifier for the error. Codes are invariant and are intended to be consumed programmatically."
                    },
                    "message": {
                        "type": "string",
                        "description": "A message describing the error, intended to be suitable for display in a user interface."
                    },
                    "target": {
                        "type": "string",
                        "description": "The target of the particular error. For example, the name of the property in error."
                    },
                    "details": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/CloudErrorBody"
                        },
                        "description": "A list of additional details about the error."
                    }
                },
                "description": "An error response from the service."
            },
            "AzureAsyncOperationResult": {
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "Status of the Azure async operation.",
                        "enum": [
                            "InProgress",
                            "Succeeded",
                            "Failed"
                        ],
                        "x-ms-enum": {
                            "name": "NetworkOperationStatus",
                            "modelAsString": true
                        }
                    },
                    "error": {
                        "$ref": "#/components/schemas/Error"
                    }
                },
                "description": "The response body contains the status of the specified asynchronous operation, indicating whether it has succeeded, is in progress, or has failed. Note that this status is distinct from the HTTP status code returned for the Get Operation Status operation itself. If the asynchronous operation succeeded, the response body includes the HTTP status code for the successful request. If the asynchronous operation failed, the response body includes the HTTP status code for the failed request and error information regarding the failure."
            },
            "Resource": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Resource ID."
                    },
                    "name": {
                        "readOnly": true,
                        "type": "string",
                        "description": "Resource name."
                    },
                    "type": {
                        "readOnly": true,
                        "type": "string",
                        "description": "Resource type."
                    },
                    "location": {
                        "type": "string",
                        "description": "Resource location."
                    },
                    "tags": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Resource tags."
                    }
                },
                "description": "Common resource representation.",
                "x-ms-azure-resource": true
            },
            "SubResource": {
                "properties": {
                    "id": {
                        "type": "string",
                        "description": "Resource ID."
                    }
                },
                "description": "Reference to another subresource.",
                "x-ms-azure-resource": true
            },
            "TagsObject": {
                "properties": {
                    "tags": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "string"
                        },
                        "description": "Resource tags."
                    }
                },
                "description": "Tags object for patch operations."
            },
            "ManagedServiceIdentity": {
                "properties": {
                    "principalId": {
                        "readOnly": true,
                        "type": "string",
                        "description": "The principal id of the system assigned identity. This property will only be provided for a system assigned identity."
                    },
                    "tenantId": {
                        "readOnly": true,
                        "type": "string",
                        "description": "The tenant id of the system assigned identity. This property will only be provided for a system assigned identity."
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of identity used for the resource. The type 'SystemAssigned, UserAssigned' includes both an implicitly created identity and a set of user assigned identities. The type 'None' will remove any identities from the virtual machine.",
                        "enum": [
                            "SystemAssigned",
                            "UserAssigned",
                            "SystemAssigned, UserAssigned",
                            "None"
                        ],
                        "x-ms-enum": {
                            "name": "ResourceIdentityType",
                            "modelAsString": false
                        }
                    },
                    "userAssignedIdentities": {
                        "type": "object",
                        "additionalProperties": {
                            "type": "object",
                            "properties": {
                                "principalId": {
                                    "readOnly": true,
                                    "type": "string",
                                    "description": "The principal id of user assigned identity."
                                },
                                "clientId": {
                                    "readOnly": true,
                                    "type": "string",
                                    "description": "The client id of user assigned identity."
                                }
                            }
                        },
                        "description": "The list of user identities associated with resource. The user identity dictionary key references will be ARM resource ids in the form: '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ManagedIdentity/userAssignedIdentities/{identityName}'."
                    }
                },
                "description": "Identity for the resource."
            },
            "ProvisioningState": {
                "type": "string",
                "readOnly": true,
                "description": "The current provisioning state.",
                "enum": [
                    "Succeeded",
                    "Updating",
                    "Deleting",
                    "Failed"
                ],
                "x-ms-enum": {
                    "name": "ProvisioningState",
                    "modelAsString": true
                }
            },
            "Access": {
                "type": "string",
                "description": "Access to be allowed or denied.",
                "enum": [
                    "Allow",
                    "Deny"
                ],
                "x-ms-enum": {
                    "name": "Access",
                    "modelAsString": true
                }
            },
            "AuthenticationMethod": {
                "type": "string",
                "description": "VPN client authentication method.",
                "enum": [
                    "EAPTLS",
                    "EAPMSCHAPv2"
                ],
                "x-ms-enum": {
                    "name": "AuthenticationMethod",
                    "modelAsString": true
                }
            },
            "IPAllocationMethod": {
                "type": "string",
                "description": "IP address allocation method.",
                "enum": [
                    "Static",
                    "Dynamic"
                ],
                "x-ms-enum": {
                    "name": "IPAllocationMethod",
                    "modelAsString": true
                }
            },
            "IPVersion": {
                "type": "string",
                "description": "IP address version.",
                "enum": [
                    "IPv4",
                    "IPv6"
                ],
                "x-ms-enum": {
                    "name": "IPVersion",
                    "modelAsString": true
                }
            }
        }
    }
}