name: Bump Release

permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      bump-patch:
        description: Bump a patch version release
        type: boolean
        required: false
        default: true
      bump-minor:
        description: Bump a minor version release
        type: boolean
        required: false
        default: false
      bump-major:
        description: Bump a major version release
        type: boolean
        required: false
        default: false
      tag-message-title:
        description: Tag message title to prepend to the release notes
        required: false
        type: string
      tag-message-body:
        description: |
          Tag message body to prepend to the release notes.
          (use "|" to replace end of line).
        required: false
        type: string

jobs:
  bump-release:
    permissions:
      contents: write
    uses: go-openapi/ci-workflows/.github/workflows/bump-release.yml@19440f9c916774587dd68f6bec31f42fdada9d77 # v0.2.3
    with:
      bump-patch: ${{ inputs.bump-patch }}
      bump-minor: ${{ inputs.bump-minor }}
      bump-major: ${{ inputs.bump-major }}
      tag-message-title: ${{ inputs.tag-message-title }}
      tag-message-body: ${{ inputs.tag-message-body }}
    secrets: inherit
