name: go test

permissions:
  pull-requests: read
  contents: read

on:
  push:
    branches:
      - master

  pull_request:

jobs:
  test:
    uses: go-openapi/ci-workflows/.github/workflows/go-test.yml@19440f9c916774587dd68f6bec31f42fdada9d77 # v0.2.3
    secrets: inherit
